.comentario {
  display: grid;
  grid-template-areas:
    "comentario1 comentario2"
    "comentario3 comentario4";
  gap: 40px;
  padding: 96px 0 144px 0;
}

.comentario p {
  background: var(--c8);
  margin-top: 48px;
  padding: 72px 60px;
  border-radius: 4px;
  text-align: center;
  position: relative;
}

.comentario-esquerdo {
  height: 96px;
  width: 96px;
  display: block;
  position: absolute;
  top: -48px;
}

.comentario-direito {
  height: 96px;
  width: 96px;
  display: block;
  position: absolute;
  top: -48px;
  right: 60px;
}
